 body{
    margin: 0;
 }

 #container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: space-around;
 }

 #time{
    display: flex;
    justify-content: center;
 }