body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.task-completed{
    background-color: lightcoral;
}

#inputContainer, #buttonContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px;
}

input{
    width: 25%;
    height: 25px;
    border-radius: 5px;
    margin: 5px;
}

input[type="button"]{
    width: 15%;
    height: 37px;
    padding: 10px;
    background-color: aquamarine;
    font-size: 17px;
}

input[type="button"]:hover{
    background-color: aqua;
    font-weight: 600;
}

ul{
    list-style-type: none;
}

li{ 
    padding-bottom: 12px;
}