body{
    margin:0;
    padding:0;
}

#container{
    width:100vw;
    height:70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: bisque;
}

#info{
    width:100vw;
    height:5vh;
    background-color: lightblue;
    text-align: center;
}

#results{
    width:100vw;
    height:25vh;
    background-color: lightgrey;
    text-align: center;
}

div{
    font-size: 28px;
}